#include <stdio.h>
#include <stdlib.h>
#include <math.h>




int main(){
	int liczba;
	int i = 2;
	printf("Podaj liczbe: ");
  	scanf( "%i", &liczba);
  	
  		long r = sqrt(liczba);

	if (liczba==1) printf("\n 1 nie jest liczba ani zlozona ani pierwsza");
	for (int i=2;i<=r;i++);
	if (liczba%i!=0 && liczba!=1) printf(" to liczba pierwsza.");  
	else 
	 printf(" to liczba zlozona."); 


return 0;

}
